apiVersion: v1
kind: Service
metadata:
  name: sample-app
  namespace: dev
spec:
  selector:
    app: sample-app
  ports:
    - protocol: TCP
      port: 8888
      targetPort: 8888
  type: ClusterIP
