# Vagrant
**/.vagrant/

# Editor / OS junk
.DS_Store
*~
*.swp
*.swo

# Logs / temp
*.log
tmp/
.cache/

# Avoid committing kube/argocd local credentials
kubeconfig*
**/kubeconfig*
*.kubeconfig
.argocd/
p3/kubectl
