apiVersion: v1
kind: ConfigMap
metadata:
  name: app3-nginx-config
  namespace: default
data:
  default.conf: |
    server {
      listen 80;
      server_name localhost;
      location / {
        alias /usr/share/nginx/html/;
        index index.html;
      }
    }
